* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-group {
  margin-bottom: 20px;
  width: 48%;
}

.input-group.full-width {
  width: 100%;
}

label {
  margin-bottom: 5px;
  display: block;
  color: #bbb;
}

input,
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #fff;
  transition: border-color 0.3s, background-color 0.3s;
}

input::placeholder {
  color: #aaa;
}

input:focus,
select:focus {
  outline: none;
  border-color: #80bdff;
  background-color: #333;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #6e27c5, #b13cff);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #5e22aa, #9e36d3);
  box-shadow: 0 4px 12px rgba(142, 45, 226, 0.5);
}

button:active {
  background-color: #4a1b88;
}

.button-ver-registros {
  background-color: #7f218b;
}

.button-ver-registros:hover {
  background-color: #9513a7;
  box-shadow: 0 4px 12px rgba(255, 0, 242, 0.5);
}

.button-ver-registros:active {
  background-color: #7f218b;
}

@media (max-width: 768px) {
  .input-group {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 20px;
  }

  button {
    font-size: 14px;
  }
}